<div class="row">
<div class="col-md-12" >

 <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><center><h1>PORTFOLIO</h1><center></div>
  <div class="panel-body">
    <p>
	<button ng-click="resetData()" class="btn btn-success" style="position:fixed; top:10px; z-index:10000; right:10px;">RESET TEST</button>
  <button ng-click="saveData()" class="btn btn-success" style="position:fixed; top:10px; z-index:10000; right:130px;">SAVE TEST</button>
  <button ng-click="refreshData()"class="btn btn-success" style="position:fixed; top:10px; z-index:10000; right:240px;">REFRESH TEST</button>
  <div ng-show="alerts" class="alert alert-success alert-dismissible" role="alert" style="position:fixed; bottom:0; left:20px; z-index:100;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{alertsText}}
</div>
	</p>
  </div>

  <!-- Table -->
  <table class="table"  style="font-size:10px;" ng-repeat=" stockData in allStocks" >
    <tr>
	<td>
	<h3>{{stockData.name}}</h3>
	</td>
	</tr>
    <tr>
	<td style="width:150px;">
	Description/Narrative 
	</td>
	<td style="width:50px;">
	</td>
	<td style="width:50px;">
	Symbol
	</td>
	<td style="width:50px;">
	Date In
	</td>
	<td>
	Qty
	</td>
	<td>
	Total Qty
	</td>
	<td>
	Cost
	</td>
	<td>
	Purchase Price
	</td>
	<td>
	Price
	</td>
	<td>
	Value
	</td>
	<td>
	Detail Gain/Loss
	</td>
	<td>
	Comulative Gain/Loss
	</td>
	<td>
	% Gain/Loss
	</td>
	<td>
	Sell Costs
	</td>
	</tr>
	
    <tr ng-repeat="or in stockData.stocks.held">
	<td style="width:150px;">
		{{or.dn}}
	</td>
	<td style="width:50px;">
		{{or.index}}
	</td>
	<td style="width:50px;">
		{{or.sy}}
	</td>
	<td style="width:50px;">
		{{or.datein}}
	</td>
	<td>
		{{or.qty}}
	</td>
	<td>
		
	</td>
	<td>
		{{or.cost}}
	</td>
	<td>
		{{calculateCPP(or.qty,or.cost)|number:2}}
	</td>
	<td>
		<input type="number" ng-hide="or.dn == 'Cash Holding'" ng-model="stockData.stocks.price" ng-click="refresh()" ng-keyup="refresh()" >
	</td>
	<td>
		{{calculateValue(or,stockData.stocks.price)}}
	</td>
	<td>
		<div class="col-sm-3" ng-hide="or.dn == 'Cash Holding'">
				{{calculateGainLoss(or,stockData.stocks.price)}}
			</div>	
	</td>
	<td>
	 
	</td>
	<td>
		<div class="col-sm-3" ng-hide="or.dn == 'Cash Holding'">
				{{prcGL(calculateGainLoss(or,stockData.stocks.price),or.cost)|number:0}}%
			</div>	
	</td>
	<td>
		<div class="col-sm-3" ng-hide="or.dn == 'Cash Holding'">
				{{sellcost(calculateValue(or))}}
			</div>
	</td>
	</tr>
	<tr>
	<td style="width:150px;">
	</td>
	<td  style="width:50px;">
	</td>
	<td style="width:50px;">
	</td>
	<td style="width:50px;">
	</td>
	<td>
	</td>
	<td>
				<div class="col-sm-3" ng-hide="stockData.name == 'Cash Holding'">
				{{tqty(stockData)}}
				</div>
	</td>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
	<td>			
				<div class="col-sm-3" ng-hide="stockData.name == 'Cash Holding'">
					{{gainLossTotal(stockData)}}
				</div>	
	</td>
	<td>
	</td>
	<td>
	</td>
	</tr>
  </table>
</div>

 <br> 
 <br> 
 <br> 
 <br> 
 <div  style="width:100%; position:fixed; bottom:0; left:0; background:#333; color:white; height:50px; padding-top:15px;">
	<div style="width:20%; float:left;">Purchase Price Total = {{ppriceTotal}} </div>
	<div style="width:20%; float:left;">Gross Present Value = {{grosspervalue}} </div>
	<div style="width:20%; float:left;">Total Sell Costs = {{totalsell}} </div>
	<div style="width:20%; float:left;">Gross Profit/Loss = {{grosspl}} </div>
	<div style="width:20%; float:left;">GPV after Sell Costs = {{grosspervalue - totalsell}}</div>
 </div> 
</div>
</div>
 